<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

   


        <h1 style="color:rgb(22, 22, 49)"> <%= kindOfDay %> </h1>
        
        <ul>
            
           <% for(var i = 0 ; i < newListItems.length ; i++){ %>
                <li><%= newListItems[i] %></li>
           <% } %>
        </ul>

        <form action="/" method="post">
            <input type="text" name="newItem">
            <button name="button" type="submit">add</button>
        </form>


</body>

</html>